Package: wiki.qaq.veil
Name: Veil
Version: 2.0
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0)
Conflicts: com.roothide.manager
Replaces: com.roothide.manager
Description: Manage RootHide settings and services.
Maintainer: OwnGoal Studio <not-gonna-reply@owngoal.dev>
Author: roothide
Section: System
Depiction: https://github.com/Lessica/RootHideManagerApp
Support: https://github.com/Lessica/RootHideManagerApp
